.container {
  padding: 10px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.run-button {
  background: lightblue;
  border: none;
  color: white;
  padding: 2em;
  margin: 1em 0;
  float: left;
}
.run-button:hover {
  cursor: pointer;
}