html
  head
    title
    style(type="text/css").
      html, body {
        margin: 0;
        padding: 0;
      }
  body
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.22.1/ramda.min.js")
    script(src="http://192.168.0.115:3000/ludo/dist/ludo.js")
    script(src="http://192.168.0.115:3000/js/vendor/teoria.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/addons/p5.dom.js")
    script(src="http://192.168.0.115:3000/js/vendor/p5.collide2d.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.js")
    script.
      _state = Ludo.initialize();
    script!= sketch
  #container