body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  font-family: Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: lightblue;
  border: none;
  color: white;
  padding: 2em;
}
button:hover {
  cursor: pointer;
}
.control-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.control-container button {
  margin: 1rem;
}
.form-row {
  margin: 1rem 0;
}
