body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  font-family: Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
