.container {
  padding: 10px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.controls-container {
  margin: 1rem 0;
  position: absolute;
}
.controls-container button {
  margin-right: 1rem;
}